streamlit==1.31.1
streamlit-image-comparison==0.0.4
Pillow==10.2.0
opencv-python==4.9.0.80
numpy==1.26.4
pandas==2.2.2
torch==2.2.2
torchvision==0.17.2
pyiqa==0.1.13
scikit-image==0.23.2
matplotlib==3.8.4
scikit-learn==1.4.2
brisque==0.0.4
onnxruntime==1.17.1
